$main_color: #157a6e;
$text_color: #ffffff;
$second_color: #2f738e;
$text_color_2: #fcdebe;
$third_color: #e3efcf;
$header_font_1: IM Fell French Canon SC;
$header_font_2: serif;

//for all
body {
  font-family: "Baloo Da 2", cursive;
}

//footer
.footer {
  position: relative;
  background-color: $main_color;
  color: $text_color;
  text-align: center;
  height: 50px;
}

//for nav
.nav-style {
  background-color: $main_color;
}

.navbar-brand {
  color: $text_color;
  font-weight: bolder;
  font-size: 24pt;
  font-family: $header_font_1, $header_font_2;
}

a {
  &.navbar-brand:hover {
    color: black;
  }
}

.btn-nav {
  font-family: $header_font_1, $header_font_2;
  font-weight: bolder;
  font-size: 17pt;
  color: $text_color;
  opacity: 65%;
  &:hover {
    color: black;
  }
}

//index
.title-index {
  font-weight: bolder;
}

.btn-style-1 {
  background-color: $second_color;
  color: $text_color_2;
  font-size: 20px;
  border-color: $second_color;
  margin-bottom: 50px;
  &:hover {
    color: $text_color;
  }
}

//table
.table-color {
  background-color: $third_color;
}

.btn-add {
  float: right;
  margin-bottom: 20px;
  background-color: $second_color;
  color: $text_color_2;
  &:hover {
    color: $text_color;
  }
}

.btn-delete {
  background-color: $third_color;
  color: black;
  &:hover {
    border-color: black;
  }
}

.alert {
  background-color: $third_color;
  color: black;
  text-align: center;
  font-size: 18px;
}

//modal-add
.error {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.btn-modal {
  margin-bottom: 20px;
  background-color: $third_color;
  color: black;
  border-color: black;
  &:hover {
    background: $second_color;
    color: $text_color;
    border-color: $second_color;
  }
}

//spinner
.loader {
  color: $main_color;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
